<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/main.css"/>
</head>
<body class="bg-light">
    <header>
        <div class="d-flex justify-content-between shadow bg-white rounded">
            <img id="halloDocLogo" class="img-fluid img-responsive p-3" src="~/images/Fig56. Patient site 1.png" />
            <div class="p-3">
                <a href=""><i class="fas fa-moon text-info border rounded border-info my-3 p-2"></i></a>
            </div>
        </div>
    </header>

    <div class="py-2 mb-5">
        @RenderBody()
    </div>

    <div class="bg-dark d-flex justify-content-end p-1 text-white fixed-bottom">
        <a href="#" class="text-white text-decoration-none m-3 h6">Terms of condition</a>
        <a href="#" class="text-white text-decoration-none m-3 h6">Privacy Policy</a>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@19.2.16/build/js/intlTelInput.min.js"></script>
    <script src="js/site.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="@Url.Content("~/plugins/mvc-jquery-ajax/jquery.unobtrusive-ajax.js")"></script>
    <script src="@Url.Content("~/plugins/mvc-jquery-validate/jquery.validate.js")"></script>
    <script src="@Url.Content("~/plugins/mvc-jquery-validate/jquery.validate.unobtrusive.js")"></script>

    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
