@model HalloDocMVC.DBEntity.ViewModels.AdminPanel.ViewCaseModel
@using static HalloDocMVC.DBEntity.ViewModels.AdminPanel.Constant

<div class="container">
    <div class="card border-0">
        <div class="card-header border-0  bg-light text-end">
            <div class="text-start d-flex justify-content-between">
                <div>
                    <h4 class="form-title fw-bold mt-2 mx-2">New Request</h4>

                </div>
                <div>
                    <a asp-controller="Dashboard" asp-action="Index" class="btn border border-info shadow-none">
                        <strong class="text-info">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
                        </strong>
                    </a>
                </div>
            </div>

        </div>
        <div class="card-body bg-white rounded shadow mb-5">

            <strong class="fs-5">Patient Information</strong>

            <form method="post" asp-controller="Actions" asp-action="EditCase" enctype="multipart/form-data">
                <input type="hidden" asp-for="RequestId" value="@Model.RequestId" />
                <div class="col-md-12 mt-3">
                    <p class="text-secondary fs-6 pt-4">Confirmation Number</p>
                    <p class="text-info fw-bold fs-5 text-break">MD120523PASA0002</p>
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <textarea asp-for="Notes" class="form-control shadow-none" placeholder="Leave a comment here" id="Notes" style="height: 100px"></textarea>
                            <label for="Notes">Patient Notes</label>
                        </div>
                    </div>
                </div>
                <hr class="dashed-h" />
                <div class="row mt-2">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-floating mb-3">
                            <input asp-for="FirstName" type="text" class="form-control shadow-none" id="FirstName" placeholder="Enter First Name" autocomplete="off">
                            <label for="FirstName">First Name</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-floating mb-3">
                            <input asp-for="LastName" type="text" class="form-control shadow-none" id="LastName" placeholder="Enter Last Name" autocomplete="off">
                            <label for="LastName">Last Name</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-floating mb-3">
                            <input asp-for="DateOfBirth" type="date" class="form-control shadow-none" id="DateOfBirth" placeholder="Enter Date of Birth" autocomplete="off">
                            <label for="DateOfBirth">Date of Birth</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mb-3 d-flex">
                            <div class="form-floating h-100 w-100">
                                <input asp-for="PhoneNumber" type="tel" class="form-control shadow-none" id="phone" autocomplete="off">
                                <label for="phone">Phone Number</label>
                            </div>
                            <button class="btn border border-info text-info mx-2 " style="height:3.5rem;width:4rem">
                                <i class="bi bi-telephone-fill"></i>
                            </button>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-floating mb-3">
                            <input asp-for="Email" type="email" id="email" class="form-control shadow-none" placeholder="name@example.com" autocomplete="off">
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <a id="edit" onclick=" toggleFormElements('true')" style=" height:3.5rem;width:4rem" class="btn btn-info text-white rounded ">Edit</a>
                        <input type="submit" value="Save" id="save" style=" height:3.5rem;width:4rem" class="btn btn-info text-white rounded">
                    </div>
                </div>

                <strong class="form-title mt-2 fs-5">Location Information</strong>

                <div class="row mt-2">
                    <div class="col-md-6 col-sm-12 col-xs-12 mt-4">
                        <div class="form-floating mb-3">
                            <input asp-for="Region" type="text" id="Region" class="form-control shadow-none" placeholder="Enter Region" autocomplete="off">
                            <label for="Region">Region</label>
                        </div>
                    </div>

                    <div class="col-md-6 mt-md-4 mb-3">
                        <div class="d-flex align-items-center">
                            <div class="form-floating w-100">
                                <input asp-for="Address" type="text" id="Business" class="form-control shadow-none" placeholder="Enter Business Name / Address" autocomplete="off">
                                <label for="Business"><small>Business Name / Address</small></label>
                            </div>
                            <a class="btn border border-info mx-2 text-info map-btn p-2 " style="height:3.5rem;width:4rem" id="map-button">
                                <i class="bi bi-geo-alt-fill mx-3"></i>
                            </a>

                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-floating mb-3">
                            <input asp-for="Room" type="text" id="Room" class="form-control shadow-none" placeholder="Enter Room" autocomplete="off">
                            <label for="Room">Room</label>
                        </div>
                    </div>
                </div>

                <div class="card-footer border-0 bg-transparent text-end">
                    <a class="btn btn-info text-white mb-2" onclick="model_Case(@Model.RequestId)" data-bs-target="#AssignCase" data-bs-toggle="modal" data-bs-requestid="@Model.RequestId" data-bs-patientname="@Model.FirstName">Assign Case</a>
                    <a class="btn btn-info text-white btn-submit mb-2">
                        View Notes
                    </a>
                    <a class="btn btn-danger btn-cancel mb-2">
                        Cancel
                    </a>
                </div>

            </form>
        </div>
    </div>
</div>

<partial name="./Modals/_AssignCase.cshtml" />

<script>
    window.onload = function (e) {
        toggleFormElements('true')
    }
    function toggleFormElements(bDisabled) {
        var inputs = document.getElementsByTagName("input");
        var textareas = document.getElementsByTagName("textarea");
        var submit = document.getElementById("save");
        var editprofile = document.getElementById("edit");
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].disabled = !inputs[i].disabled;
        }
        textareas[0].disabled = !textareas[0].disabled;
        if (inputs[0].disabled) {
            submit.style.display = "none";
            editprofile.style.display = "block";
        } else {
            submit.style.display = "block";
            editprofile.style.display = "none";
        }
    }

    function model_Case(id) {
        console.log(id);
        var modeldata = @Html.Raw(Json.Serialize(Model))
        document.getElementById('PatientName_ModelCancelCase').innerText = modeldata[id].patientName;
        document.getElementById('RequestID_Input_ModelCancelCase').value = modeldata[id].requestID;
        console.log(document.getElementById('RequestID_Input_ModelAssignCase').value);
        document.getElementById('RequestID_Input_ModelAssignCase').value = id;
        console.log(document.getElementById('RequestID_Input_ModelAssignCase').value);
        document.getElementById('RequestID_Input_ModelBlockCase').value = modeldata[id].requestID;
        document.getElementById('PatientName_ModelBlockCase').innerText = modeldata[id].patientName;
    }

</script>